
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
p, a {
  font-family: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0; 
  }
  body
{
    margin: 0;
    background-color: #fff;
}

/* header  */
header{
    width: 100%;
    margin-top: 2em;
    margin-left: 2em;
    position: fixed;
}
  #webapp_cover
  {
      position: absolute;
      top: 10%;
      right: 90%;
      left: 0;
      width: 39px;
      margin: 0 auto;
      transform: translateY(-50%) scale(2);
  }
  
  #menu_button
  {
      width: 39px;
      overflow: hidden;
  }
  
  #menu_checkbox
  {
      display: none;
  }
  
  #menu_label
  {
      position: relative;
      display: block;
      height: 29px;
      cursor: pointer;
      margin-top: 35.5em;
  }
  
  #menu_label:before, #menu_label:after, #menu_text_bar
  {
      position: absolute;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: rgba(253, 167, 69, 0.89);
  }
  
  #menu_label:before, #menu_label:after
  {
      content: '';
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
  }
  
  #menu_label:before
  {
      top: 0;
  }
  
  #menu_label:after
  {
      top: 12px;
  }
  
  #menu_text_bar
  {
      top: 24px;
  }
  
  #menu_text_bar:before
  {
      content: 'MENU';
      position: absolute;
      top: 5px;
      right: 0;
      left: 0;
      color: rgba(253, 167, 69, 0.89);;
      font-size: 12px;
      font-weight: bold;
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      text-align: center;
  }
  
  #menu_checkbox:checked + #menu_label:before
  {
      left: -39px;
  }
  
  #menu_checkbox:checked + #menu_label:after
  {
      left: 39px;
  }
  
  #menu_checkbox:checked + #menu_label #menu_text_bar:before
  {
      animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
  }
  
  @keyframes moveUpThenDown
  {
      0%{ top:0; }
      50%{ top:-27px;}
      100%{ top:-14px; }
  }
  
  @keyframes shakeWhileMovingUp
  {
      0%{ transform: rotateZ(0); }
      25%{ transform:rotateZ(-10deg); }
      50%{ transform:rotateZ(0deg); }
      75%{ transform:rotateZ(10deg); }
      100%{ transform:rotateZ(0); }
  }
  
  @keyframes shakeWhileMovingDown
  {
      0%{ transform:rotateZ(0); }
      80%{ transform:rotateZ(3deg); }
      90%{ transform:rotateZ(-3deg); }
      100%{ transform:rotateZ(0); }
  }
  

  /* logo ubud */

  .titre {
      /* margin-left: 22.2%; */
  }

  .titre img {
      width: 20%;
  }

  /* numéro de téléphone  */

  header .titre, .numero {
      display : inline-block;
  }

  header a {
      color : rgba(253, 167, 69, 0.89);;
      text-decoration: none;
  }

  .numero {
      margin-left: 20%;
  }

/* essaie autre header */
/*  Version A — Let's break apart the letters
------------------------------------------------------- */
/* .A h1 {
	overflow-wrap: anywhere;
} */


/*  Version B — Let's separate the letters
------------------------------------------------------- */
/* .B h1 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
} */


/*  Version C — How about a deconstructed layout
------------------------------------------------------- */
/* .C h1 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
}
.C h1 span:nth-child(1) { /* G */
	grid-column: 2;
	grid-row: 1;
}
.C h1 span:nth-child(2) { /* R */
	grid-column: 3;
	grid-row: 1;
}
.C h1 span:nth-child(3) { /* A */
	grid-column: 6;
	grid-row: 1;
}
.C h1 span:nth-child(4) { /* P */
	grid-column: 3;
	grid-row: 2;
}
.C h1 span:nth-child(5) { /* H */
	grid-column: 4;
	grid-row: 2;
}
.C h1 span:nth-child(6) { /* I */
	grid-column: 5;
	grid-row: 3;
}
.C h1 span:nth-child(7) { /* C */
	grid-column: 6;
	grid-row: 3;
}
.C h1 span:nth-child(8) { /* D */
	grid-column: 1;
	grid-row: 4;
}
.C h1 span:nth-child(9) { /* E */
	grid-column: 2;
	grid-row: 4;
}
.C h1 span:nth-child(10) { /* S */
	grid-column: 5;
	grid-row: 5;
}
.C h1 span:nth-child(11) { /* I */
	grid-column: 3;
	grid-row: 6;
}
.C h1 span:nth-child(12) {
	grid-column: 5;
	grid-row: 6;
}
.C h1 span:nth-child(13) {
	grid-column: 8;
	grid-row: 7;
} */


/*  Version D
------------------------------------------------------- */
.D #intro {
	margin: 3rem;
	display: grid;
	grid-template-columns: 0 max-content 5rem auto;
	grid-template-rows: 1.5rem 50px min-content auto auto;
	gap: 0 1rem;
}
.D h1 {
	grid-column: 1 / 3;
	grid-row: 1 / 5;
	border: none;
	margin: 0;
	font-size: 2.5rem;
}
.D nav {
	writing-mode: vertical-rl;
	grid-column: 3 / 5;
	grid-row: 3;
	background: rgba(253, 167, 69, 0.89);;
}
.D .red-box {
	border: 8px solid  rgba(253, 167, 69, 0.89);;
	grid-row: 2 / 5;
	grid-column: 2 / 4;
	z-index: -1;
}
.D ul {
	padding: 1rem;
}
.D li {
	list-style: none;
}
.D a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: 800;
}
.D img {
 mix-blend-mode: overlay; 
	grid-column: 3 / 5;
	grid-row: 3 / 6;
}

/* Inner Grid — same as demo C */

.D h1 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
}
.D h1 span:nth-child(1) { /* G */
	grid-column: 2;
	grid-row: 1;
}
.D h1 span:nth-child(2) { /* R */
	grid-column: 3;
	grid-row: 1;
}
.D h1 span:nth-child(3) { /* A */
	grid-column: 6;
	grid-row: 1;
}
.D h1 span:nth-child(4) { /* P */
	grid-column: 3;
	grid-row: 2;
}
.D h1 span:nth-child(5) { /* H */
	grid-column: 4;
	grid-row: 2;
}
.D h1 span:nth-child(6) { /* I */
	grid-column: 5;
	grid-row: 3;
}
.D h1 span:nth-child(7) { /* C */
	grid-column: 6;
	grid-row: 3;
}
.D h1 span:nth-child(8) { /* D */
	grid-column: 1;
	grid-row: 4;
}
.D h1 span:nth-child(9) { /* E */
	grid-column: 2;
	grid-row: 4;
}
.D h1 span:nth-child(10) { /* S */
	grid-column: 5;
	grid-row: 5;
}
.D h1 span:nth-child(11) { /* I */
	grid-column: 3;
	grid-row: 6;
}
.D h1 span:nth-child(12) { /* G */
	grid-column: 5;
	grid-row: 6;
}
.D h1 span:nth-child(13) { /* N */
	grid-column: 8;
	grid-row: 7;
}


/*  Version E
------------------------------------------------------- */
.E #intro {
	margin: 3rem;
	display: grid;
	grid-template-columns: 0 max-content 5rem auto;
	grid-template-rows: 1.5rem 50px min-content auto auto;
	gap: 0 1rem;
}
.E h1 {
	grid-column: 1 / 3;
	grid-row: 1 / 5;
	border: none;
	margin: 0;
	font-size: 2.5rem;
}
.E nav {
	writing-mode: vertical-rl;
	grid-column: 3 / 5;
	grid-row: 4;
	background:  rgba(253, 167, 69, 0.89);;
}
.E .red-box {
	border: 8px solid rgba(253, 167, 69, 0.89);;
	grid-row: 2 / 5;
	grid-column: 2 / 4;
	z-index: -1;
}
.E ul {
	padding: 1rem;
}
.E li {
	list-style: none;
}
.E a {
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: 800;
}
.E img {
	/* mix-blend-mode: overlay; */
	grid-column: 3 / 5;
	grid-row: 3 / 6;
}

/* Inner Grid — same as demo C */

.E h1 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
}
.E h1 span:nth-child(1) { /* G */
	grid-column: 2;
	grid-row: 1;
}
.E h1 span:nth-child(2) { /* R */
	grid-column: 3;
	grid-row: 1;
}
.E h1 span:nth-child(3) { /* A */
	grid-column: 1;
	grid-row: 1;
}
.E h1 span:nth-child(4) { /* P */
	grid-column: 4;
	grid-row: 1;
}

/* ---------------------------- */
  /* ------- main -------- */
/* ---------------------------- */


.devanture {
    height: 315%;
    z-index: 0;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
  .devanture {
    height : 0%;
    z-index: 0;
  }

}


.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/* MAIN MENU  */

main p {
    font-family: "averta cy w01";
    margin-top: 20em;
}

/* gallery photo */

/* ---------- partie gallery photos --------- */

.container-gallery {
    display: grid;
  /* grid-template-columns:
      [left-gallery-start] 33.33%
      [main-content-start] 33.33%
      [right-sidebar-start] 33.33%;
  */
  /* grid-template-rows:
      [body-start] fr
      [body-end footer-start] fr
      [footer-end] fr;*/
    grid-template-areas:
    "photo photo photo"
    "photo photo photo";
  /*  height: 150vh;*/ /*pour supprimer l'espace qui a entre les photos*/
  /*  grid-gap: 1px;*/
    overflow: hidden;
  
    grid-template-columns: repeat(3, 1fr);
      grid-gap: 1em; /* px si tu veux que les photos se touchent sans espace*/
      grid-auto-rows: minmax(200px, auto);
  }
  
  .container-gallery > * {
    /* background-color: #fff; */
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .photo {
    grid-area: photo;
    height: 33.33vw;
  object-fit: cover;
  }
  
  .object-fit_contain {
    object-fit: cover;
    height: 33.33vw;
    transform:
  }
  
  .photo>img {
    object-fit: cover;
    width: 100%
  }

  .sous-titre {
    text-align: center;
  }
  
  /* texte de la gallery */
  
  .portfolio-experiment a {
    color: #ffddd2;
    padding: 0.7em calc(0.7em * 1.2);
    display: inline-block;
    border: 3px solid transparent;
    position: relative;
    cursor: pointer;
    letter-spacing: 0.07em;
    top: -8em;
    left: 3.5em;
    text-shadow: grey 2px 2px;
  }
  
  .portfolio-experiment a:nth-child(n+1){
    left: 2.5em;
  }
  
  .portfolio-experiment a:last-child{
   left: 4.5em;
  }
  
  .portfolio-experiment a .text {
  font-family: 'Quicksand', sans-serif;
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  
  .portfolio-experiment a:after {
    position: absolute;
    content: "";
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 3px;
    background: #ffddd2;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
  }
  
  .portfolio-experiment .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
  }
  
  .portfolio-experiment a:hover .text,
  .portfolio-experiment a:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  
  .portfolio-experiment a:hover:after,
  .portfolio-experiment a:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
  }
  
  .portfolio-experiment a:hover .line,
  .portfolio-experiment a:active .line {
    transform: scale3d(1, 1, 1);
  }
  
  .portfolio-experiment a:hover .line.-bottom,
  .portfolio-experiment a:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
  }

  
  /* ----------------------- partie footer ---------------------- */

.shell {
    display: grid;
    grid-template-columns: 0 1fr 0;
    grid-template-rows: auto 8em 1fr auto;
  }
  
  @media (min-width: 600px) {
    .shell {
      grid-template-columns: 20px 1fr 20px;
    }
  }
  
  /* overlap */
  .shell:before {
    content: "";
    grid-column: 1/-1;
    grid-row: 1/3;
    background-color: #ffddd2;
  }
  
  .shell-header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  
    color: #FFF;
    background-color: #ffddd2;
    padding: 35px 20px;
  }
  
  .shell-body {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    min-height: 50vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.25);
    background-color: #FFF;
  }
  
  .shell-footer {
    grid-column: 2/3;
    grid-row: -1;
    padding: 20px;
  }
  
  section img{
    margin-left: 2em;
    margin-top: 7em;
  }
  
  .container-footer{
    display: grid;
    grid-gap: 15px;
    grid-template-areas:
    "up-footer up-footer up-footer"
    "left-footer middle-footer right-footer";
    grid-template-columns:
      [left-footer] 20%
      [middle-footer] 30%
      [right-footer] 45%
  }
  
  .container-footert > * {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .up-footer{
    grid-area: up-footer;
  }
  
  
  
  .left-footer {
    /* Associer chaque élément du dom à un endroit dans la grille */
    grid-area: left-footer;
  }
  
  .middle-footer{
    grid-area: middle-footer;
  }
  
  .right-footer{
    grid-area: right-footer;
  }
  
  .inline-footer img p{
    display:inline-block;
  }
  
  .emoticones li {
    list-style: none;
    display:inline;
    justify-content: space-around;
    text-decoration: none;
  }
  
  section a{
    color: pink;
    font-family: 'Quicksand', sans-serif;
  }

  